.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 300px;
    background-color: #01c0c8;
    position: absolute;
    border-radius: 10px;
    opacity: 0.95;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 12px 60px 12px 4px;
    margin: 8px 0;
    border-radius: 10px;
    border: none;
}

.form-button {

}

.button {
    padding: 8px 16px 8px 16px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 8px 8px;
}