* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.css-19mk8g1-MuiInputBase-root-MuiFilledInput-root {
    background-color: transparent !important;
}

.css-19mk8g1-MuiInputBase-root-MuiFilledInput-root:before,
.css-19mk8g1-MuiInputBase-root-MuiFilledInput-root:after {
    border: none !important;
}